@import "../../scss/theme";
@import "../../scss/layout";
@import "../../scss/animationBtnNavBar";

.header{
  background-color: $secondaryColor;
  height: $header-height;
  flex-direction: column;
  .desktop{
    padding: $paddingSimple;
    width: 100%;
    justify-content: start;
    align-items: center;
    .icon{
      @include buttonNavBar;
      padding-right: $paddingSimple;
    }
    .list-item-desktop{
      display: none;
    }
  }
  .mobile{
    display: none;
    flex-direction: column;
    position: relative;
    .item-mobile{
      height: 40px;
      background-color: $lightGrey;
      cursor: pointer;
      a{
        text-decoration: none;
        color: $secondaryColor;
      }
      .author-item-mobile{
        height: 40px;
        background-color: $lightGrey;
        cursor: pointer;
        &.hide{
          display:none;
        }
      }
      .author-list-mobile{
        display:none;
        width:100%;
        @include fontSize-mobile;
        flex-direction: row;
        &.show{
          display:flex;
          flex-direction: column;
        }
        
      }
      &.hide{
        display:none;
      }
      
    }
    &.active{
      display: flex;
    }
  }
}

// css display tablet

@media (min-width: $breakpoint-mobile) {
  .header{
    .desktop{
      position: relative;
      height: 100%;
      .icon{
        display: none;
      }
      .list-item-desktop{
        display: flex;
        align-items: center;
        height: 100%;
        .item-desktop{
          align-items: center;
          justify-content: center;
          width: 20vw;
          margin-right: $paddingSimple;
          color: $lightGrey;
          background-color: $primaryColor;
          border-radius: $round-size-small;
          height: 60%;
          cursor: pointer;
          a{
            text-decoration: none;
            color: $secondaryColor;
            font-size: 2.5vh;
          }
          button{
            border: none;
            background-color: transparent;
            font-size: 2.5vh;
          }
          flex-direction:column;
          .author-list{
            display:none;
            flex-direction: row;
            top: 150px;
            position: absolute;
            .author-item-desktop{
              color: $lightGrey;
              padding-top: $paddingSimple;
              background-color: $primaryColor;
              width: 20vw;
            }
            &.show{
              display:flex;
              flex-direction:column;
            }
          }
        }
      }
    }
    .mobile{
      display: none;
    }
  }
}

// css display desktop
@media (min-width: $breakpoint-tablet) {
  .header{
    .desktop{
      .header-list{
        .header-item{
          color: $lightGrey;
          background-color: $primaryColor;
          @include fontSize-desktop;
          &.dropdown-author{
            position: relative;
            .header-item{
              top: 30px;
              color: red;
              padding-top: $paddingDouble;
              align-items: center;
              justify-content: center;
              color: $lightGrey;
              background-color: $primaryColor;
              height: 100%;
              cursor: pointer;
              a{
                text-decoration: none;
                color: $secondaryColor;
                font-size: 2.5vh;
              }
            }
            
          }
        }
      }
    }
  }
}